<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.qrscanner.module">
    <!-- 二维码 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <!-- 拍照权限 -->
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    
    <application android:allowBackup="true">
        
        <activity
            android:name=".QrScannerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"></activity>
    </application>

</manifest>
